@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: visible;
}

body.has-popup {
  height: 100vh;
  overflow-y: hidden;
}

main {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.gradient-opacity-xs {
  background: transparent;
  mask: linear-gradient(
    90deg,
    transparent 0%,
    white 20%,
    white 80%,
    transparent 100%
  );
}

.gradient-opacity {
  background: transparent;
  mask: linear-gradient(
    90deg,
    transparent 0%,
    white 30%,
    white 70%,
    transparent 100%
  );
}

@layer components {
  .main {
    @apply bg-gradient-to-br from-bglightmode-light to-bglightmode-dark dark:from-bgdarkmode-light dark:to-bgdarkmode-dark;
  }

  .section {
    @apply px-10 mx-auto max-w-7xl sm:px-12;
  }

  .popup {
    @apply fixed shadow-2xl bg-gradient-to-br from-secondarylightmode to-secondarylightmode-dark dark:from-secondarydarkmode-light dark:to-secondarydarkmode p-7 sm:p-9;
  }

  .popup-image {
    @apply fixed top-0 bottom-0 left-0 right-0 flex flex-col items-center justify-center w-screen h-screen m-auto bg-transparent shadow-2xl p-7 gap-7 sm:p-9;
  }

  .btn-circle-primary {
    @apply text-textlightmode bg-primarylightmode hover:bg-primarylightmode-light focus:ring-4 focus:outline-none font-bold rounded-full text-base p-2.5 text-center inline-flex items-center aspect-square;
  }

  .btn-circle-popup {
    @apply text-textlightmode brightness-90 dark:brightness-100 bg-primarydarkmode hover:bg-primarydarkmode-light dark:bg-primarylightmode dark:hover:bg-primarylightmode-light focus:ring-4 focus:outline-none font-bold rounded-full text-base p-2.5 text-center inline-flex items-center aspect-square;
  }

  .btn-primary {
    @apply flex items-center justify-center gap-3 px-5 py-2 text-xl font-bold transition-all duration-200 rounded-full cursor-pointer bg-primarylightmode text-textlightmode-dark hover:bg-primarylightmode-light;
  }

  .btn-secondary {
    @apply flex items-center justify-center gap-3 px-5 py-2 text-xl font-bold transition-all duration-200 bg-transparent border-2 rounded-full cursor-pointer text-textlightmode-dark dark:text-textdarkmode dark:hover:text-textlightmode-dark border-primarylightmode hover:bg-primarylightmode;
  }

  .btn-popup-primary-blue {
    @apply flex items-center justify-center gap-3 px-5 py-2 text-xl font-bold transition-all duration-200 bg-transparent rounded-full cursor-pointer text-accentdarkmode bg-secondarydarkmode hover:bg-secondarydarkmode-light dark:text-accentlightmode-dark dark:bg-secondarylightmode dark:hover:bg-secondarylightmode-dark;
  }

  .btn-popup-secondary-blue {
    @apply flex items-center justify-center gap-3 px-5 py-2 text-xl font-bold transition-all duration-200 bg-transparent border-2 rounded-full cursor-pointer text-accentlightmode-dark hover:text-accentdarkmode border-secondarydarkmode hover:bg-secondarydarkmode dark:hover:text-accentlightmode-dark dark:text-accentdarkmode dark:border-secondarylightmode dark:hover:bg-secondarylightmode;
  }

  .btn-popup-primary-brown {
    @apply flex items-center justify-center gap-3 px-5 py-2 text-xl font-bold transition-all duration-200 bg-transparent rounded-full cursor-pointer text-textdarkmode-light bg-accentlightmode hover:bg-accentlightmode-light dark:text-textlightmode-dark dark:bg-accentdarkmode dark:hover:bg-accentdarkmode-dark;
  }

  .btn-popup-secondary-brown {
    @apply flex items-center justify-center gap-3 px-5 py-2 text-xl font-bold transition-all duration-200 bg-transparent border-2 rounded-full cursor-pointer text-textlightmode-dark hover:text-textdarkmode-light border-accentlightmode hover:bg-accentlightmode dark:text-textdarkmode-light dark:hover:text-textlightmode-dark dark:border-accentdarkmode dark:hover:bg-accentdarkmode;
  }

  .nav-dropdown {
    @apply relative flex flex-col items-center justify-center;
  }

  .nav-dropdown-btn {
    @apply flex items-center justify-center h-full p-3 text-lg bg-transparent text-textlightmode dark:text-textdarkmode;
  }

  .nav-dropdown-menu {
    @apply absolute flex flex-col items-end justify-start gap-3 bg-transparent right-3 top-14;
  }

  .nav-link {
    @apply flex items-center justify-center text-xl font-medium bg-transparent cursor-default dark:text-textlightmode hover:text-primarydarkmode active:font-bold text-textdarkmode dark:hover:text-primarylightmode-dark;
  }

  .nav-icon {
    @apply top-0 bottom-0 flex flex-col items-center justify-center bg-transparent cursor-pointer;
  }

  .link-icon {
    @apply flex items-center justify-center bg-transparent cursor-pointer brightness-90 dark:brightness-100 text-primarylightmode dark:text-primarydarkmode hover:text-primarylightmode-dark dark:hover:text-primarydarkmode-light;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-start {
    @apply flex items-start justify-start;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .switch input {
    @apply w-0 h-0 opacity-0;
  }

  .switch {
    @apply relative inline-block h-6 w-11 sm:h-7 sm:w-14;
  }

  .switch-slider {
    @apply absolute top-0 bottom-0 left-0 right-0 transition-all duration-200 rounded-full cursor-pointer bg-accentdarkmode;
  }

  .switch-slider-control {
    @apply absolute h-5 w-5 sm:h-6 sm:w-6 left-[2px] bottom-[2px] rounded-full bg-accentlightmode-light transition-all duration-200 flex justify-center items-center;
  }

  .switch-slider-control > .switch-slider-icon {
    @apply translate-x-0;
  }

  input:checked + .switch-slider {
    @apply bg-accentlightmode;
  }

  input:checked + .switch-slider > .switch-slider-control {
    @apply translate-x-5 sm:translate-x-7 bg-accentdarkmode;
  }

  .pageText {
    @apply text-textlightmode dark:text-accentdarkmode;
  }

  .pageText-bigTitle {
    @apply text-3xl tracking-widest font-extralight sm:text-5xl md:text-7xl;
  }

  .pageText-pageTitle {
    @apply text-2xl font-light tracking-widest sm:text-3xl md:text-4xl lg:text-5xl;
  }

  .pageText-header {
    @apply text-lg tracking-wide sm:text-xl md:text-2xl lg:text-3xl;
  }

  .pageText-bodytext {
    @apply text-sm text-justify sm:text-base;
  }
}
