@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 24px 120px 24px;
}

@layer components {
  .main {
    @apply bg-gradient-to-br from-bglightmode-light to-bglightmode-dark dark:from-bgdarkmode-light dark:to-bgdarkmode-dark;
  }

  .app {
    @apply relative p-4 mx-auto justify-stretch max-w-7xl;
  }

  .btn-circle-primary {
    @apply text-textlightmode bg-primarylightmode hover:bg-primarylightmode-light focus:ring-4 focus:outline-none font-bold rounded-full text-base p-2.5 text-center inline-flex items-center mr-2;
  }

  .btn-primary {
    @apply flex items-center justify-center px-5 py-2 text-xl font-bold transition-all duration-200 rounded-md cursor-pointer bg-primarylightmode text-textlightmode hover:bg-primarylightmode-light;
  }

  .btn-secondary {
    @apply flex items-center justify-center px-5 py-2 text-xl font-bold transition-all duration-200 bg-transparent border-2 rounded-md cursor-pointer text-textlightmode border-primarylightmode hover:bg-primarylightmode;
  }

  .nav-link {
    @apply flex items-center justify-center px-3 py-1 text-xl font-medium transition-all duration-200 bg-transparent cursor-pointer text-textlightmode hover:text-primarydarkmode active:font-bold active:text-primarydarkmode;
  }

  .nav-icon {
    @apply transition-all duration-200 bg-transparent text-textlightmode-dark;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-start {
    @apply flex items-start justify-start;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .switch input {
    @apply w-0 h-0 opacity-0;
  }

  .switch {
    @apply relative inline-block h-6 w-11;
  }

  .switch-slider {
    @apply absolute top-0 bottom-0 left-0 right-0 transition-all duration-200 rounded-full cursor-pointer bg-accentdarkmode-light;
  }

  .switch-slider-control {
    @apply absolute h-5 w-5 left-[2px] bottom-[2px] rounded-full bg-accentlightmode-dark transition-all duration-200 flex justify-center items-center;
  }

  .switch-slider-control > .switch-slider-icon {
    @apply translate-x-0;
  }

  input:checked + .switch-slider {
    @apply bg-accentlightmode-dark;
  }

  input:checked + .switch-slider > .switch-slider-control {
    @apply translate-x-5 bg-accentdarkmode-light;
  }
}
